flask
flask_cors
pymysql
# ======================================================================
# 以下為投資組合
pandas
pandas_datareader
requests
datetime
# ======================================================================
# 以下為選股組合
bs4
# ======================================================================
# gcp用
gunicorn
# ======================================================================
# 熱度圖用
plotly
finlab