{% extends 'parts/base.html' %}

{% block content %}
<div class="content">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand bg-secondary navbar-dark sticky-top px-4 py-0">
        <a href="#" class="sidebar-toggler flex-shrink-0">
            <i class="fa fa-bars"></i>
        </a>
        <!-- 搜尋欄 -->
        <form class="ms-4 d-inline-flex" name="search_from"  onsubmit="return check_search_from()">
              <input class="form-control bg-dark border-0 nav-link"  type="text"  placeholder="EX：2330" name="q" aria-label="Search" >
            <button class="btn my-2 my-sm-0 btn-light m-2"  type="submit">Search</button>
        </form>
        <div class="navbar-nav align-items-center ms-auto">
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                    <i class="fa fa-bell me-lg-2"></i>
                    <span class="d-none d-lg-inline-flex">Notificatin</span>
                </a>
            </div>

        </div>
    </nav>
    <!-- Navbar End -->

    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 col-md-8">
                <div class="bg-secondary rounded p-4" >
                    <div class="d-flex align-items-center justify-content-between ">
                        <h3 class="mb-0">{{name}}.tw</h3>
                    </div>
                    <div id="K_line" style="width: 100%;height:500px;"></div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="bg-secondary rounded p-4">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <h6 class="mb-0">預測</h6>
                        <a href="">Show All</a>
                    </div>
                    <div id="up_down" style="width: 100%;height:500px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block script %}
<script  type="text/javascript">

    
    //取得網址字串
    var url = location.href;
    //分割字串把分割後的字串放進陣列中
    var ary1 = url.split('/');
    //取得name值
    var url_name = ary1[ary1.length-1]
    

    var myChart = echarts.init(document.getElementById('K_line'), 'dark');
    // , 'dark' 為暗色版
    var option;

    const upColor = '#00da3c';
    const downColor = '#ec0000';

    // k_line資料預處理函式建立
    function splitData(rawData) {
        let categoryData = [];
        let values = [];
        let volumes = [];
        let name = [];
        for (let i = 0; i < rawData.length; i++) {
            name.push(rawData[i].splice(0, 1)[0]);
            categoryData.push(rawData[i].splice(0, 1)[0]);
            values.push(rawData[i]);
            volumes.push([i, rawData[i][4], rawData[i][0] > rawData[i][1] ? 1 : -1]);
        }
        return {
            categoryData: categoryData,
            values: values,
            volumes: volumes,
            name: name
        };
    }
            
    // MA計算函式建立
    function calculateMA(dayCount, data) {
    var result = [];
    for (var i = 0, len = data.values.length; i < len; i++) {
        if (i < dayCount) {
            result.push('-');
            continue;
        }
        var sum = 0;
        for (var j = 0; j < dayCount; j++) {
            sum += data.values[i - j][1];
        }
        result.push(+(sum / dayCount).toFixed(3));
    }
    return result;
    }
    

    // 預設頁面: 發送ajax請求，從後台獲取json數據
    $(document).ready(function () {  
        console.log(url_name);
        getData_Kline();
        console.log(url_name);
    });
    
    // 以下為K_line
    function getData_Kline() {
        $.ajax({
        
        url:'/K_line',
        data:{name:url_name},
        type:'POST',
        async:false,
        dataType:'json',
        
        success:function(data) {
        // 成功取得資料後進行資料預處理
        var data = splitData(data);

        // 開始繪圖
        myChart.setOption(
            (option = {
              
              animation: false,
              // title: {
              //   text: 'K_line'
              // },
              legend: {
                bottom: 10,
                left: 'center',
                data: [data.name[0], 'MA5', 'MA10', 'MA20', 'MA30']
              },
              tooltip: {
                trigger: 'axis',
                axisPointer: {
                  type: 'cross'
                },
                borderWidth: 1,
                borderColor: '#ccc',
                padding: 10,
                textStyle: {
                  color: '#000'
                },
                position: function (pos, params, el, elRect, size) {
                  const obj = {
                    top: 10
                  };
                  obj[['left', 'right'][+(pos[0] < size.viewSize[0] / 2)]] = 30;
                  return obj;
                }
                // extraCssText: 'width: 170px'
              },
              axisPointer: {
                link: [
                  {
                    xAxisIndex: 'all'
                  }
                ],
                label: {
                  backgroundColor: '#777'
                }
              },
              toolbox: {
                feature: {
                  dataZoom: {
                    yAxisIndex: false
                  },
                  brush: {
                    type: ['lineX', 'clear']
                  }
                }
              },
              brush: {
                xAxisIndex: 'all',
                brushLink: 'all',
                outOfBrush: {
                  colorAlpha: 0.1
                }
              },
              visualMap: {
                show: false,
                seriesIndex: 5,
                dimension: 2,
                pieces: [
                  {
                    value: 1,
                    color: downColor
                  },
                  {
                    value: -1,
                    color: upColor
                  }
                ]
              },
              grid: [
                {
                  left: '10%',
                  right: '8%',
                  height: '50%'
                },
                {
                  left: '10%',
                  right: '8%',
                  top: '63%',
                  height: '16%'
                }
              ],
              xAxis: [
                {
                  type: 'category',
                  data: data.categoryData,
                  boundaryGap: false,
                  axisLine: { onZero: false },
                  splitLine: { show: false },
                  min: 'dataMin',
                  max: 'dataMax',
                  axisPointer: {
                    z: 100
                  }
                },
                {
                  type: 'category',
                  gridIndex: 1,
                  data: data.categoryData,
                  boundaryGap: false,
                  axisLine: { onZero: false },
                  axisTick: { show: false },
                  splitLine: { show: false },
                  axisLabel: { show: false },
                  min: 'dataMin',
                  max: 'dataMax'
                }
              ],
              yAxis: [
                {
                  scale: true,
                  splitArea: {
                    show: true
                  }
                },
                {
                  scale: true,
                  gridIndex: 1,
                  splitNumber: 2,
                  axisLabel: { show: false },
                  axisLine: { show: false },
                  axisTick: { show: false },
                  splitLine: { show: false }
                }
              ],
              // 下方橫條設定
              dataZoom: [
                {
                  type: 'inside',
                  xAxisIndex: [0, 1],
                  start: 50,
                  end: 100
                },
                {
                  show: true,
                  xAxisIndex: [0, 1],
                  type: 'slider',
                  top: '85%',
                  start: 98,
                  end: 100
                }
              ],
              // 滑鼠移過時顯示的資料設定
              series: [
                {
                  name: data.name[0],
                  type: 'candlestick',
                  data: data.values,
                  itemStyle: {
                    color: upColor,
                    color0: downColor,
                    borderColor: undefined,
                    borderColor0: undefined
                  },
                  tooltip: {
                    formatter: function (param) {
                      param = param[0];
                      return [
                        'Date: ' + param.name + '<hr size=1 style="margin: 3px 0">',
                        'Open: ' + param.data[0] + '<br/>',
                        'Close: ' + param.data[1] + '<br/>',
                        'Lowest: ' + param.data[2] + '<br/>',
                        'Highest: ' + param.data[3] + '<br/>'
                      ].join('');
                    }
                  }
                },
                {
                  name: 'MA5',
                  type: 'line',
                  data: calculateMA(5, data),
                  smooth: true,
                  lineStyle: {
                    opacity: 0.5
                  }
                },
                {
                  name: 'MA10',
                  type: 'line',
                  data: calculateMA(10, data),
                  smooth: true,
                  lineStyle: {
                    opacity: 0.5
                  }
                },
                {
                  name: 'MA20',
                  type: 'line',
                  data: calculateMA(20, data),
                  smooth: true,
                  lineStyle: {
                    opacity: 0.5
                  }
                },
                {
                  name: 'MA30',
                  type: 'line',
                  data: calculateMA(30, data),
                  smooth: true,
                  lineStyle: {
                    opacity: 0.5
                  }
                },
                {
                  name: 'Volume',
                  type: 'bar',
                  xAxisIndex: 1,
                  yAxisIndex: 1,
                  data: data.volumes
                }
              ],
            backgroundColor: '#191C24',
            }),
            true
          )
        
        },
        error:function (msg) {
        console.log(msg);
        alert('系統發生錯誤');
        }
        })
        };
        window.addEventListener("resize",function(){
        myChart.resize();
        });





</script>
{% endblock %}